.Cart {
    display: flex;
    justify-content:flex-start;
    padding-top: 2%;
    padding-left: 5%;
    width: 100vw;
    height: 150vh;
    
    
    
  }  

.cart_element>*{
    background-color: #b7b4b4;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: auto;
    padding: 3%;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    margin: 0.7%;
    box-shadow: 2px 2px 0px 0px black;
    
}
.cart_element>*:hover {
    transform: scale(1.03);
  }