.Login{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}
input{
    border: 2px solid green;
    box-shadow: 3px 2px 0px 0px black;
}
h5{
    border: 2px solid black;
    box-shadow: 3px 2px 0px 0px black;
}
button{
    border:2px solid black;
    background-color: rgb(47, 56, 48);
    color: white;
    margin: 10px;
    box-shadow: 3px 2px 0px 0px black;
}
button:hover{
    transform: scale(1.025);
}