*{
  box-sizing: border-box;
}

.class_product{
  font-size: x-small;
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  overflow:hidden;
  
  
  
  /* vibrant colors styling */
  background-color: rgba(255, 255, 255, 0);
  color:black;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 0px 0px #0000004d;
  transition: transform 0.1s ease-in-out;
   font-family: "Montserrat", sans-serif;
   padding-top: 10%;
}
.product_name{
  font-weight: 800;
  text-transform: uppercase;
}
.class_product:hover {
  transform: scale(1.02);
}
.class_product>img{
  display:block;
  width: 80%;
  height: 46%;
  border: 2px solid black;
  box-shadow: 2px 2px 0px 0px #0000005e;
}

.btn{
 background-color: #1c3a139b;
 border: 1px solid black;
}
.btn:hover{
  transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}


